<a href="https://colab.research.google.com/github/Kiruthika2006-devil/preprocess-travelling-dataset/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importing Pandas Library

In [ ]:
import pandas as pd

# Dataset is imported from github

In [14]:
df = pd.read_csv('https://github.com/Kiruthika2006-devil/preprocess-travelling-dataset/raw/main/travel_dataset.csv')
df.head()

,Trip ID,Location,Country,Category,Visitor Name,Age,Gender,Rating,Accommodation Available,Accommodation Type,Accommodation Amount,Travel Start Date,Travel End Date,Transport Mode,Destination,Transport Cost
0,1,Singapore,Singapore,urban,Jennifer Zimmerman,56,Male,4.4,Yes,Hotel,203,11/01/2024,11/08/2024,Cruise,"Singapore, Singapore",798
1,2,Cape Town,South Africa,nature,Megan Shaffer,18,Female,2.5,Yes,Resort,387,05/25/2024,06/04/2024,Train,"Cape Town, South Africa",497
2,3,Edinburgh,UK,historical,Melissa Singh,65,Male,2.1,Yes,Hotel,172,07/13/2024,07/24/2024,Car Rental,"Edinburgh, UK",457
3,4,Dubai,UAE,urban,Rachel Reynolds,56,Male,3.5,Yes,Resort,480,12/29/2024,01/06/2025,Car Rental,"Dubai, UAE",991
4,5,Cape Town,South Africa,nature,Danielle Wright,38,Female,1.1,Yes,Apartment,461,03/24/2025,04/04/2025,Flight,"Cape Town, South Africa",131

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Trip ID                  1500 non-null   int64
 1   Location                 1500 non-null   object
 2   Country                  1500 non-null   object
 3   Category                 1500 non-null   object
 4   Visitor Name             1500 non-null   object
 5   Age                      1500 non-null   int64
 6   Gender                   1500 non-null   object
 7   Rating                   1500 non-null   float64
 8   Accommodation Available  1500 non-null   object
 9   Accommodation Type       1500 non-null   object
 10  Accommodation Amount     1500 non-null   int64
 11  Travel Start Date        1500 non-null   object
 12  Travel End Date          1500 non-null   object
 13  Transport Mode           1500 non-null   object
 14  Destination              1500 non-null   object
 15  Transport Cost           1500 non-null   int64
dtypes: float64(1), int64(4), object(11)
memory usage: 187.6+ KB

In [16]:
df.duplicated().sum()

np.int64(0)